<div class="row justify-content-center main_content  align-items-center" style="margin-top: 35vh;">
    <div class="links col-sm-10 col-md-6">
        <a asp-controller="create_request" asp-action="submit_request_screen" class="text-decoration-none ">
            <div class="button w-100 d-flex justify-content-center" id="btn_1">Submit A Request</div>
        </a>
        <a asp-controller="login" asp-action="login_page" class="text-decoration-none">
            <div class="w-100 button d-flex justify-content-center" id="btn_2">Registered Patients</div>
        </a>
    </div>
</div>