@{
    Layout = "_login";
}

<div class="row justify-content-center">
    <div class="col-lg-7 col-9">
        <div class="row justify-content-center mb-4">
            <img src="/Images/SRS Screen Shorts/Fig56. Patient site 1.png" alt="" class="col-8">
        </div>
        <div class="d-flex justify-content-center mb-4">
            <h2>Login To Your Account</h2>
        </div>

        <div class=" my-4">
            <div class="my-3 form-floating d-flex border rounded">
                <input type="text" class="form-control no-border" placeholder="Username" />
                <img src="/Images/SRS Screen Shorts/user_circle.svg" alt="" class="input_img p-3">
                <label for="floatingInputGroup1">Username</label>
            </div>
            <div class="form-floating d-flex border rounded">
                <input type="password" class="form-control no-border" id="pass_input" placeholder="Password" />
                <img src="/Images/SRS Screen Shorts/password_icon.svg" alt="" id="eye_btn" class="input_img p-3" onclick="password()">
                <label for="floatingPassword">Password</label>
            </div>
        </div>
        <div class="mb-3">
            <button type="button" class="submit_btn col-12 p-2 login_btn btn btn-info">Login</button>
        </div>
        <div class="d-flex justify-content-center">
            <a asp-controller="login" asp-action="forgot_password" class="forgot_link">Forgot Password?</a>
        </div>
    </div>


    <div class="justify-content-center row align-items-center">
        <footer class="d-flex footer justify-content-center">
            <a href="#" class="footer_links">Terms and Conditions</a>
            <span class="mx-3">|</span>
            <a href="#" class="footer_links">Privacy Policy</a>
        </footer>
    </div>
</div>