@{
	Layout = "_adminDashboardHeader";
}
<div>
	This is Records Page.
</div>






<script>
    var dash = document.getElementById("dashboard-tab");
    var providerLoc = document.getElementById("providerLoc-tab");
    var profile = document.getElementById("myProfile-tab");
    var provider = document.getElementById("provider-tab");
    var partner = document.getElementById("partner-tab");
    var access = document.getElementById("access-tab");
    var records = document.getElementById("records-tab");

    dash.classList.remove("active1");
    providerLoc.classList.remove("active1");
    profile.classList.remove("active1");
    provider.classList.remove("active1");
    partner.classList.remove("active1");
    access.classList.remove("active1");
    records.classList.add("active1");
</script>