/*.nav-item .active1 {
    border: none;
    color: #10bce9 !important;
    border-bottom: 5px solid #10bce9 !important;
}
.tabs {
    color: black;
}
.tabs:hover{
    color:#10BCE9;
}




 General Css 

:root {
    --primary: #10bce9;
}

html, body {
    height: 100%;
}

.btn-primary {
    background-color: var(--primary);
    border: 0px solid white;
}

.back-btn svg {
    fill: var(--primary);
}

.btn span {
    color: var(--primary);
}

.btn-outline-info {
    border-color: var(--primary);
}

.night-mode-btn svg {
    fill: var(--primary);
}

.btn:focus {
    box-shadow: none;
}

.btn:active {
    box-shadow: none;
}

.form-card {
    background-color: white;
}

 Patient Authentication Screens Css 

.patient-authentication a {
    text-decoration: none;
    color: grey;
}

    .patient-authentication a:hover {
        text-decoration: none;
        color: black;
    }

.patient-authentication .background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url('/images/11116016_415.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    opacity: 0.4;
    z-index: -1;
}

.patient-authentication .input-bg {
    background-color: rgba(255, 255, 255, 0.5);
}

.patient-authentication .btn:hover {
    background-color: #e3e3e3;
}

 Submit Request Screen Css 

.patient-div {
    width: 350px;
    height: 50px;
    background-color: #e8eaf1;
    border: 1px solid #4367d3;
    border-radius: 5px;
}

    .patient-div h4 {
        color: #4367d3;
    }

    .patient-div:hover {
        background-color: #4367d3;
    }

        .patient-div:hover h4, .family-friend-div:hover h4, .concierge-div:hover h4, .business-partners-div:hover h4 {
            color: white;
        }

.family-friend-div {
    width: 350px;
    height: 50px;
    background-color: #e5f3f8;
    border: 1px solid #00adef;
    border-radius: 5px;
}

    .family-friend-div h4 {
        color: #00adef;
    }

    .family-friend-div:hover {
        background-color: #00adef;
    }

.concierge-div {
    width: 350px;
    height: 50px;
    background-color: #e8f0e8;
    border: 1px solid #228b22;
    border-radius: 5px;
}

    .concierge-div h4 {
        color: #228b22;
    }

    .concierge-div:hover {
        background-color: #228b22;
    }

.business-partners-div {
    width: 350px;
    height: 50px;
    background-color: #f6e6ef;
    border: 1px solid #d90f81;
    border-radius: 5px;
}

    .business-partners-div h4 {
        color: #d90f81;
    }

    .business-partners-div:hover {
        background-color: #d90f81;
    }

.footer-bg {
    background-color: #282828;
    color: #282828;
}

.btn:hover {
    background-color: #e3e3e3;
}

 Patient Site Home Screen Css 

.submit-request-div {
    height: 50px;
    background-color: #10bce9;
    border-radius: 5px;
}

.registered-patient-div {
    height: 50px;
    background-color: #0d1556;
    border-radius: 5px;
}


.bg-image {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/11116016_415.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    opacity: 0.4;
    z-index: -1;
}


 Create Patient Request Screen Css 
.iti {
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
    padding-right: 6px;
    padding-left: 52px;
    margin-left: 0;
    height: 59px;
}

.iti__country-list {
    z-index: 5;
}

input[type=file]::-webkit-file-upload-button {
    width: 0;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    border: none;
    border: 0px;
}

x::-webkit-file-upload-button, input[type=file]:after {
    content: 'Browse...';
    left: 100%;
    margin-left: 3px;
    position: relative;
    -webkit-appearance: button;
    padding: 3px 8px 2px;
    border: 0px;
}

.info-icon-shadow {
    box-shadow: 0px 0px 1px 2px #faaa04;
    border-radius: 100%;
}


 Admin Dashboard CSS 

.admin-dashboard {
    background-color: #f9f9f9;
}

.nav .active {
    background-color: white !important;
}

.active .tabHeader {
    text-decoration: none;
    color: var(--primary);
    font-weight: 500;
    border-bottom: 2px solid var(--primary);
}

.tabHeader {
    color: black;
}

.table-head {
    background-color: #f0f0f0;
}

    .table-head th {
        font-weight: 500;
    }

.table .table-body tr {
    height: 55px;
}

.table td:first-child, th:first-child {
    padding-left: 20px;
}

.dashboard-card {
    border-radius: 5px;
}

.admin-dashboard input:focus {
    box-shadow: none;
}

.admin-dashboard textarea:focus {
    box-shadow: none;
}

.admin-dashboard select:focus {
    box-shadow: none;
}


.status-tab div {
    border-radius: 8px;
}

.status-new {
    background-color: #e9eaef;
    color: #203f9a;
    border: 1px solid #203f9a;
}

.status-pending {
    background-color: #e5f2f8;
    color: #00adef;
    border: 1px solid #00adef;
}

.status-active {
    background-color: #e9f0e8;
    color: #228c20;
    border: 1px solid #228c20;
}

.status-conclude {
    background-color: #f7e6ee;
    color: #da0f82;
    border: 1px solid #da0f82;
}

.status-to-close {
    background-color: #e5eef5;
    color: #0370d7;
    border: 1px solid #0370d7;
}

.status-unpaid {
    background-color: #efeef4;
    color: #9966cd;
    border: 1px solid #9966cd;
}

.active .status-new {
    background-color: #203f9a;
    color: white;
    border: 1px solid #203f9a;
}

.active .status-pending {
    background-color: #00adef;
    color: white;
    border: 1px solid #00adef;
}

.active .status-active {
    background-color: #228c20;
    color: white;
    border: 1px solid #228c20;
}

.active .status-conclude {
    background-color: #da0f82;
    color: white;
    border: 1px solid #da0f82;
}

.active .status-to-close {
    background-color: #0370d7;
    color: white;
    border: 1px solid #0370d7;
}

.active .status-unpaid {
    background-color: #9966cd;
    color: white;
    border: 1px solid #9966cd;
}

.admin-dashboard input {
    box-shadow: none;
    border-width: 0px;
}

    .admin-dashboard input:focus {
        box-shadow: none;
    }

.admin-dashboard select:focus {
    box-shadow: none;
}

.normal-input {
    border: 1px solid grey;
}

    .normal-input:focus-within {
        border: 1px solid var(--primary);
    }

.filter-options {
    height: 30px;
    border-width: 0px;
    border: 1px solid transparent;
}

    .filter-options:hover {
        background-color: #e3e3e3;
    }

.active-filter {
    border: 1px solid grey;
}

.admin-dashboard .table-head {
    background-color: lightgrey;
}

.admin-dashboard tr {
    font-size: 12px;
}

.admin-dashboard .patient-request-row {
    background-color: #5fbc61;
    color: white;
}

.admin-dashboard .family-friend-request-row {
    background-color: #ed9124;
    color: white;
}

.admin-dashboard .concierge-request-row {
    background-color: #007fc6;
    color: white;
}

.admin-dashboard .business-request-row {
    background-color: #e26277;
    color: white;
}

.admin-dashboard .vip-request-row {
    background-color: #9966cd;
    color: white;
}

.admin-dashboard .white-border-btn {
    border: 1px solid white;
    border-radius: 5px;
}

    .admin-dashboard .white-border-btn:hover {
        background-color: #adadad77;
    }

*/






























.nav-item .active1 {
    border: none;
    color: #10bce9 !important;
    border-bottom: 5px solid #10bce9 !important;
}

.tabs {
    color: black;
}

    .tabs:hover {
        color: #10BCE9;
    }



/*STATES*/


.states {
    height: 80px;
    border-radius: 10px;
}

#new {
    background-color: #e9eaef;
    color: #203f9a;
    border: 1px solid #203f9a;
}

#pending {
    background-color: #e5f2f8;
    color: #00adef;
    border: 1px solid #00adef;
}

#act {
    background-color: #e9f0e8;
    color: #228c20;
    border: 1px solid #228c20;
}

#conclude {
    background-color: #f7e6ee;
    color: #da0f82;
    border: 1px solid #da0f82;
}

#toclose {
    background-color: #e5eef5;
    color: #0370d7;
    border: 1px solid #0370d7;
}

#unpaid {
    background-color: #efeef4;
    color: #9966cd;
    border: 1px solid #9966cd;
}

.status-data {
    font-size: 22px;
    font-weight: bold;
}

.active.status-new {
    background-color: #203f9a !important;
    color: white !important;
}


.active.status-pending {
    background-color: #00adef !important;
    color: white !important;
}

.active.status-active {
    background-color: #228c20 !important;
    color: white !important;
}

.active.status-conclude {
    background-color: #da0f82 !important;
    color: white !important;
}

.active.status-toclose {
    background-color: #0370d7 !important;
    color: white !important;
}

.active.status-unpaid {
    background-color: #9966cd !important;
    color: white !important;
}


#status {
    font-size: 20px;
    font-weight: bold;
}

.btn-info, .btn-info:hover {
    color: white;
}



.search-input {
    border: 1px solid grey;
    box-shadow: none;
}

    .search-input:focus-within {
        box-shadow: none;
        border: 1px solid #10bce9;
    }

.active-filter {
    background-color: white;
    width: 50px
}

.filter-options {
    background-color: white;
}















.admin-dashboard {
    
    background-color: #f9f9f9;
}

/*.nav .active {
    background-color: white !important;
}*/

.active .tabHeader {
    text-decoration: none;
    color: var(--primary);
    font-weight: 500;
    border-bottom: 2px solid var(--primary);
}

.tabHeader {
    color: black;
}

.table-head {
    background-color: #f0f0f0;
}

.table-head th {
    font-weight: 500;
}

.table .table-body tr {
    height: 55px;
}

.table td:first-child, th:first-child {
    padding-left: 20px;
}

.dashboard-card {
    border-radius: 5px;
}

.admin-dashboard input:focus {
    box-shadow: none;
}

.admin-dashboard textarea:focus {
    box-shadow: none;
}

.admin-dashboard select:focus {
    box-shadow: none;
}
.admin-dashboard input {
    box-shadow: none;
    border-width: 0px;
}

.admin-dashboard input:focus {
    box-shadow: none;
}

.admin-dashboard select:focus {
    box-shadow: none;
}

.admin-dashboard .table-head {
    background-color: lightgrey;
}

.admin-dashboard tr {
    font-size: 15px;
}

.admin-dashboard .patient-request-row {
    background-color: #5fbc61;
    color: white;
}

.admin-dashboard .family-friend-request-row {
    background-color: #ed9124;
    color: white;
}

.admin-dashboard .concierge-request-row {
    background-color: #007fc6;
    color: white;
}

.admin-dashboard .business-request-row {
    background-color: #e26277;
    color: white;
}

.admin-dashboard .vip-request-row {
    background-color: #9966cd;
    color: white;
}

.admin-dashboard .white-border-btn {
    border: 1px solid white;
    border-radius: 5px;
}

    .admin-dashboard .white-border-btn:hover {
        background-color: #adadad77;
    }

.table {
    --bs-table-bg: none;
    --bs-table-color:none;
}
.table-responsive {
    overflow-x:inherit;
}